name: Auto Format

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  auto-format:
    name: Auto Format

    uses: TimSchoenle/actions/.github/workflows/maintenance-auto-bun-prettier.yaml@265149683086fc39109bcdc4b5572f6dfeed2dff # workflows-maintenance-auto-bun-prettier-v1.1.3
    secrets:
      APP_ID: ${{ secrets.ACTIONS_MAINTENANCE_APP_ID }}
      PRIVATE_KEY: ${{ secrets.ACTIONS_MAINTENANCE_PRIVATE_KEY }}
