name: Auto Format

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {

               
}

jobs:
  auto-format:
    name: Auto Format
    uses: TimSchoenle/actions/.github/workflows/maintenance-auto-bun-prettier.yaml@a145c32d88e07e9c23722d89d4c4272e28929092 # workflows-maintenance-auto-bun-prettier-v1.1.4
    secrets:
      APP_ID: ${{ secrets.ACTIONS_MAINTENANCE_APP_ID }}
      PRIVATE_KEY: ${{ secrets.ACTIONS_MAINTENANCE_PRIVATE_KEY }}
