name: Auto Format

on:
  pull_request:

permissions: {}

jobs:
  auto-format:
    name: Auto Format
    uses: TimSchoenle/actions/.github/workflows/maintenance-auto-bun-prettier.yaml@8bbe6c44b421556ceabe2a1965482d6be3dca129 # workflows-maintenance-auto-bun-prettier-v1.1.5
    secrets:
      APP_ID: ${{ secrets.ACTIONS_MAINTENANCE_APP_ID }}
      PRIVATE_KEY: ${{ secrets.ACTIONS_MAINTENANCE_PRIVATE_KEY }}
