name: Lint Actions

on:
  push:
    paths:
      - 'actions/**/action.yaml'
      - '.github/workflows/lint-actions.yml'
  pull_request:
    paths:
      - 'actions/**/action.yaml'
      - '.github/workflows/lint-actions.yml'

jobs:
  action-validator:
    name: Validate Actions
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: Validate Action Files
        uses: mpalmer/action-validator@main
        with:
          patterns: |
            :(glob).github/**/action.yml
            :(glob).github/**/action.yaml
            .github/workflows/*.yml
            .github/workflows/*.yaml
            'actions/**/action.yaml'
            'actions/**/action.yml'
