name: Scripts CI

on:
  push:
    branches:
      - main
    paths:
      - 'scripts/**'
      - 'package.json'
      - 'bun.lock'
  pull_request:
    paths:
      - 'scripts/**'
      - 'package.json'
      - 'bun.lock'

jobs:
  lint-and-test:
    name: Lint & Test
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@b7a1c7ccf290d58743029c4f6903da283811b979 # v2
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Format Check
        run: bun run format --check

      - name: Test
        run: bun run test
