name: Scripts CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  lint-and-test:
    name: Lint & Test
    permissions:
      contents: read # to fetch code
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: Setup Bun
        uses: TimSchoenle/actions/actions/bun/setup-cached@e531be1a898653adee13a3c10b1ae4c1eb6487d0 # actions-bun-setup-cached-v1.1.3

      - name: Format Check
        run: bun run format --check

      - name: Test
        run: bun run test
